In [1]:
import pandas as pd
import numpy as np

In [2]:
# Read the data
p_and_l_df = pd.read_csv("02-Homework_02-Python_Instructions_PyBank_Resources_budget_data.csv")

In [3]:
# Push the value in each row one place down 
# replace NaN with zero
# specify a int64 dtype for the column 
p_and_l_df['lag'] = p_and_l_df['Profit/Losses'].shift(1).fillna(0).astype('int64')

In [4]:
# Start the calculation from the second row
p_and_l_df.loc[1:,'profit increase/decrease'] = p_and_l_df.loc[1:,'Profit/Losses'] - p_and_l_df.loc[1:,'lag']

In [5]:
# Look at the dataframe to make sure 
# it includes the data as intended
p_and_l_df.head()

       Date  Profit/Losses     lag  profit increase/decrease
0  Jan-2010         867884       0                       NaN
1  Feb-2010         984655  867884                  116771.0
2  Mar-2010         322013  984655                 -662642.0
3  Apr-2010         -69417  322013                 -391430.0
4  May-2010         310503  -69417                  379920.0

In [6]:
# Number of months is the number of rows in the dataFrame
total_months = len(p_and_l_df.index)
# sum of the column
total = p_and_l_df['Profit/Losses'].sum()
# the mean function disregards the NaN which is what we want in this case
average = p_and_l_df['profit increase/decrease'].mean() #ignores the nan #p_and_l_df['profit increase/decrease'].sum()/(len(p_and_l_df.index)-1) # can not use the mean 
maximum = p_and_l_df['profit increase/decrease'].max()
minimum = p_and_l_df['profit increase/decrease'].min()

In [18]:
# Output the data
print("Financial Analysis")
print("-----------------------------")
print(f"Total Months: {total_months}")
print(f"Total: ${total}")
print(f"Average  Change: ${average:.2f}")
print(f"Greatest Increase in Profits: (${maximum:.0f})")
print(f"Greatest Decrease in Profits: (${minimum:.0f})")

Financial Analysis
-----------------------------
Total Months: 86
Total: $38382578
Average  Change: $-2315.12
25    Greatest Increase in Profits: ($1926159)Feb-2012
Name: Date, dtype: object
Greatest Decrease in Profits: ($-2196167)

In [17]:
p_and_l_df.loc[p_and_l_df['profit increase/decrease']==p_and_l_df['profit increase/decrease'].max()]

25    Feb-2012
Name: Date, dtype: object